body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;   
}

.header-area {
    color: white;
    background-color: #05053a;
    height: 60px;
    display: flex;

}

.logo {
    display: flex;
}

.left-header {
    display: flex;
    align-items: center;
}

.title {
    font-size: 20px;
    font-weight: 700;
    margin-left: 8px;
}

.website-name {
    font-size: 16px;
    font-weight: 200;
    color: rgb(129, 126, 126);
    margin-top: 4px;
}

a:visited {
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
}


.right-header {
    margin-left: auto;
    margin-right: 8px;
    display: flex;
    align-items: center;
    gap: 16px;


}

.like-fb, .contact-button {
    color: rgb(146, 142, 142);
    background-color: rgb(52, 52, 167);
    font-size: 16px;
    border: 0px;
    padding: 8px;
    border-radius: 8px;
    box-shadow: inset 3px 5px 4px rgb(128, 128, 158);
}

.bg-img {
    min-height: 100vh;
    max-width: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.6;

}
