.body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
}

.header-area {
    color: white;
    background-color: #02024d;
    height: 60px;
    display: flex;
}

