body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;   
}

.header-area {
    color: white;
    background-color: #02024d;
    height: 60px;
    display: flex;
}

.right-header {
    margin-left: auto;

}

